<div class="chat-list-block">
  <div class="search-block">
    <nav class="search-block-links">
      {{{buttons}}}
    </nav>
    <form>
      {{{searchInput}}}
      {{{createChatBtn}}}
    </form>
  </div>
  <ul class="chat-list">
    {{{chats}}}
  </ul>
</div>
{{{chat}}}
