<div class="chat-list-block">
  <div class="search-block">
    <nav class="search-block-links">
      {{{buttons}}}
    </nav>
    {{{searchInput}}}
    {{{createChatBtn}}}
  </div>
  <ul class="chat-list">
    {{{chats}}}
  </ul>
</div>
{{{chat}}}
