{{{openBtn}}}

<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3>{{title}}</h3>
      {{{closeBtn}}}
    </div>
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}

    {{{inputField}}}

    <div class="modal-actions">
      {{{addBtn}}}
      {{{removeBtn}}}
      {{{removeChatBtn}}}
    </div>
  </div>
</div>
